<html>

<head>
 	<!-- TODO: interval and value, not x and y -->
	<meta charset="utf-8">
 	<script src="bower_components/d3/d3.js"></script>
 	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="vgraph.js"></script>
	<link href="vgraph.css" rel="stylesheet" type="text/css" />
</head>
<body ng-app="vgraph">

	<h1>Hello World</h1>
	<h5>Growing Graph</h5>
	<style>
		[ng-controller] {
			display : inline-block;
			width: 800;
			margin: 10px 0;
		}

		[vgraph-chart] {
			margin: 10px 30px;
			padding: 20px 40px;
			width: 740;
			height: 220;
		}

		.narrow [vgraph-chart] {
			width: 340;
			height: 90;
		}

		.grid-on .top line,
		.grid-on .right line {
		    stroke: #626262;
		    stroke-width: 1;
		}

		[vgraph-chart] .mat {
			fill: #ddd;
		}

		[vgraph-line="line"] {
			stroke: black;
    		stroke-width: 2;
    		fill: none;
		}

		.red.line {
			stroke: red;
    		fill: none;
		}

		.blue.line {
			stroke: blue;
			fill: none;
		}

		.green.line {
			stroke: green;
			fill: none;
		}

		.orange.line {
			stroke: orange;
			fill: none;
		}

		.red.fill, circle.red, rect.red {
			stroke: red;
    		fill: red;
		}

		.blue.fill, circle.blue, rect.blue {
			stroke: blue;
			fill: blue;
		}

		.green.fill, circle.green, rect.green {
			stroke: green;
			fill: green;
		}

		.orange.fill, circle.orange, rect.orange {
			stroke: orange;
			fill: orange;
		}

		rect.bar.active {
			opacity: .5;
		}

		rect.bar.lower {
			stroke: black;
		}

		rect.bar.higher {
			stroke: grey;
		}

		rect.bar.newer {
			stroke: yellow;
		}

		rect.bar.newest {
			fill: pink;
			stroke: pink;
		}

		[vgraph-compare] .fill {
			stroke: grey;
			fill: grey;
		}
	</style>

	<article ng-controller="AppCtrl">
		<section class="controls">
			<label>Simple<input type='checkbox' ng-checked="simple" ng-click="simple = !simple"/></label>
			<label>Loading<input type='checkbox' ng-checked="loading" ng-click="loading = !loading"/></label>
			<label>Growing<input type='checkbox' ng-checked="growing" ng-click="growing = !growing"/></label>
			<label>Stacked<input type='checkbox' ng-checked="stacked" ng-click="stacked = !stacked"/></label>
			<label>Standard<input type='checkbox' ng-checked="standard" ng-click="standard = !standard"/></label>
			<label>Raw<input type='checkbox' ng-checked="raw" ng-click="raw = !raw"/></label>
			<label>Classed<input type='checkbox' ng-checked="classed" ng-click="classed = !classed"/></label>
			<label>Bar<input type='checkbox' ng-checked="bar" ng-click="bar = !bar"/></label>
			<label>Compare<input type='checkbox' ng-checked="compare" ng-click="compare = !compare"/></label>
			<label>MultiAxis<input type='checkbox' ng-checked="multiAxis" ng-click="multiAxis = !multiAxis"/></label>
			<label>Zooming<input type='checkbox' ng-checked="zoom" ng-click="zoom = !zoom"/></label>
			<label>Export<input type='checkbox' ng-checked="export" ng-click="export = !export"/></label>
		</section>

		<section ng-if="simple">
			<h5>Simple</h5>
			<div ng-controller="FloodCtrl">
				<svg vgraph-chart="graph" model="model">
					<g vgraph-axis="'left'"
						axis-label="'foo'"
		                label-offset="50"
		                tick-length="4" tick-padding="-2"></g>
		            <g vgraph-axis="'right'"
						axis-label="'bar'"
						label-offset="40"
		                tick-length="4" tick-padding="-2"></g>
		            <g vgraph-axis="'bottom'"
		            	axis-label="woot"
						tick-length="4" tick-padding="-2" tick-rotation="-45"></g>
					
					<g vgraph-line="line" interval="'x'" 
						value="'y1'" name="someLine1"></g>
					<g vgraph-line="line" interval="'x'" 
						value="'y2'" name="someLine2"></g>
					<g vgraph-line="line" interval="'x'" 
						value="'y3'" name="someLine3"></g>
					<g vgraph-line="line" interval="'x'" 
						value="'y4'" name="someLine4"></g>

					<g vgraph-target="highlight" point-radius="10"></g>
					<g vgraph-interact="highlight"></g>
				</svg>
			</div>

			<div ng-controller="FloodCtrl">
				<svg vgraph-chart="graph" model="model">
					<g vgraph-axis="'left'"
						axis-label="'foo'"
		                label-offset="50"
		                tick-length="4" tick-padding="-2"></g>
		            <g vgraph-axis="'right'"
						axis-label="'bar'"
						label-offset="40"
		                tick-length="4" tick-padding="-2"></g>
		            <g vgraph-axis="'bottom'"
		            	axis-label="woot"
						tick-length="4" tick-padding="-2" tick-rotation="-45"></g>
					
					<g vgraph-fill="line" interval="'x'" 
						value="'y1'" name="someLine1"></g>
					<g vgraph-fill="line" interval="'x'"
						fill-to="'y2'" 
						value="'y4'" name="someLine2"></g>

					<g vgraph-target="highlight" point-radius="5"></g>
					<g vgraph-interact="highlight"></g>
				</svg>
			</div>
		</section>

		<section ng-if="loading">
			<h5>Loading</h5>
			<div ng-controller="LoadingCtrl">
				<svg vgraph-chart="graph" model="model">
					<g vgraph-axis="'left'"
		                tick-length="4" tick-padding="-2"></g>
		            <g vgraph-axis="'bottom'"
		                tick-length="4" tick-padding="-2" tick-rotation="-45"></g>
					
					<g vgraph-loading></g>
					
					<g vgraph-line="line" interval="'x'" 
						value="'y1'" name="someLine1"></g>
					<g vgraph-line="line" interval="'x'" 
						value="'y2'" name="someLine2"></g>
					<g vgraph-line="line" interval="'x'" 
						value="'y3'" name="someLine3"></g>
					<g vgraph-line="line" interval="'x'" 
						value="'y4'" name="someLine4"></g>

					<g vgraph-message></g>
				</svg>
			</div>
		</section>

		<section ng-if="growing">
			<h5>Growing</h5>
			<div ng-controller="GrowingCtrl">
				<svg vgraph-chart="graph" model="model">
					<g vgraph-axis="'left'"
		                tick-length="4" tick-padding="-2"></g>
		            <g vgraph-axis="'bottom'"
		                tick-length="4" tick-padding="-2" tick-rotation="-45"></g>

					<g vgraph-line="line" interval="'x'" 
						value="'y'" name="someLine"></g>
					<g vgraph-indicator="someLine"
						point-radius="5"></g>
				</svg>
			</div>
		</section>

		<section ng-if="stacked">
			<h5>Stacked</h5>
			<div ng-controller="StackedCtrl">
				<svg xmlns="http://www.w3.org/2000/svg" vgraph-chart="graph" model="model" version="1.1">
					<g vgraph-stack config="config"></g>
				</svg>
			</div>
		</section>

		<section ng-if="standard">
			<h5>Standard</h5>
			
			<div ng-controller="SpeedCtrl">
				<svg vgraph-chart="graph" model="model">
					<g vgraph-line="line" interval="'x'" 
						value="'y1'" name="someLine1"></g>
					<g vgraph-line="line" interval="'x'" 
						value="'y2'" name="someLine2"></g>
					<g vgraph-line="line" interval="'x'" 
						value="'y3'" name="someLine3"></g>
					<g vgraph-line="line" interval="'x'" 
						value="'y4'" name="someLine4"></g>
				</svg>
			</div>

			<div ng-controller="StaticCtrl">
				<svg xmlns="http://www.w3.org/2000/svg" vgraph-chart="graph" model="model" version="1.1">
					<g vgraph-axis="'left'"
		                tick-length="4" tick-padding="-2"></g>
		            <g vgraph-axis="'bottom'"
		                tick-length="4" tick-padding="-2" tick-rotation="-45"></g>
					<g vgraph-line="line" interval="'x'" 
						value="'y'" name="someLine"></g>
					<g vgraph-indicator="someLine"
						outer-radius="10"
						point-radius="5"></g>
				</svg>
			</div>

			<div ng-controller="MultiCtrl">
				<svg xmlns="http://www.w3.org/2000/svg" vgraph-chart="graph" model="model" version="1.1">
					<g vgraph-axis="'left'"
		                tick-length="4" tick-padding="-2"></g>
		            <g vgraph-axis="'bottom'"
		                tick-length="4" tick-padding="-2" tick-rotation="-45"></g>
					<g vgraph-multi-line="line" config="config"></g>
				</svg>
			</div>

			<div ng-controller="StackedClassCtrl">
				<svg xmlns="http://www.w3.org/2000/svg" vgraph-chart="graph" model="model" version="1.1">
					<g vgraph-axis="'left'"
		                tick-length="4" tick-padding="-2"></g>
		            <g vgraph-axis="'bottom'"
		                tick-length="4" tick-padding="-2" tick-rotation="-45"></g>
					<g vgraph-stack config="config"></g>
				</svg>
			</div>
		</section>

		<section ng-if="raw">
			<h5>Raw Data</h5>

			<div ng-controller="RawCtrl">
				<svg xmlns="http://www.w3.org/2000/svg" vgraph-chart="graph" model="model" version="1.1">
					<g vgraph-multi-line config="config"></g>
					<g vgraph-leading config="config"></g>
				</svg>
			</div>
		</section>

		<section ng-if="classed">
			<h5>Classed - Multi Data Sources</h5>
			<div ng-controller="StackedMultiCtrl">
				<svg xmlns="http://www.w3.org/2000/svg" vgraph-chart="graph" model="model" version="1.1">
					<g vgraph-axis="'left'"
		                tick-length="4" tick-padding="-2"></g>
		            <g vgraph-axis="'bottom'"
		                tick-length="4" tick-padding="-2" tick-rotation="-45"></g>
					<g vgraph-stack config="config"></g>
					<g vgraph-target="highlight" point-radius="5" config="{'default':config}"></g>
					<g vgraph-interact="highlight"></g>
				</svg>
			</div>
			
			<div ng-controller="ResizeCtrl">
				<span ng-repeat="conf in config">|{{highlight.point.default[conf.name]}}|</span>
				<svg xmlns="http://www.w3.org/2000/svg" vgraph-chart="graph" model="model" version="1.1">
					<g vgraph-axis="'left'"
		                tick-length="4" tick-padding="-2"></g>
		            <g vgraph-axis="'bottom'"
		                tick-length="4" tick-padding="-2" tick-rotation="-45"></g>
					<g vgraph-multi-line config="config"></g>
					<g vgraph-multi-indicator config="config"></g>
					<g vgraph-target="highlight" point-radius="5" config="{'default':config}"></g>
					<g vgraph-interact="highlight"></g>
				</svg>
				<div>
					<button ng-click="resize()">Resize</button>
				</div>
			</div>
		</section>

		<section ng-if="compare">
			<h5>Other Stuff</h5>
			<div ng-controller="MixerCtrl">
				{{ highlight.point.$compare }}
				<svg xmlns="http://www.w3.org/2000/svg" vgraph-chart="graph" model="model" version="1.1">
					<g vgraph-compare config="{y_1:'default',y_2:'default'}"></g>
					<g vgraph-multi-line config="config"></g>
					<g vgraph-target="highlight" point-radius="5" config="{default:config}"></g>
					<g vgraph-tooltip="highlight" 
						text-formatter="formatter" 
						value="getCompare"
						y-value="getPosition"></g>
					<g vgraph-interact="highlight"></g>
				</svg>
			</div>
		</section>

		<section ng-if="bar">
			<div ng-controller="StackedMultiCtrl">
				{{ highlight.point.default.$bar }}
				<svg xmlns="http://www.w3.org/2000/svg" vgraph-chart="graph" model="model" version="1.1">
					<g vgraph-axis="'left'"
		                tick-length="4" tick-padding="-2"></g>
		            <g vgraph-axis="'bottom'"
		                tick-length="4" tick-padding="-2" tick-rotation="-45"></g>
					<g vgraph-bar config="config" padding="2" min-width="4"></g>
					<g vgraph-tooltip="highlight" text-formatter="formatter" value="getBar"></g>
					<g vgraph-interact="highlight"></g>
				</svg>
			</div>

			<div ng-controller="SimpleStackedMultiCtrl">
				{{ highlight.point.default.$bar }}
				<svg xmlns="http://www.w3.org/2000/svg" vgraph-chart="graph" model="model" version="1.1">
					<g vgraph-axis="'left'"
		                tick-length="4" tick-padding="-2"></g>
		            <g vgraph-axis="'bottom'"
		                tick-length="4" tick-padding="-2" tick-rotation="-45"></g>
					<g vgraph-bar config="config" padding="2" min-width="4"></g>
					<g vgraph-icon="data" 
						true-value="iconValue"
						interval="'x'"
						name="high" show-under="true"
						><text>H</text></g>
					<g vgraph-tooltip="highlight" text-formatter="formatter" value="getBar"></g>
					<g vgraph-interact="highlight"></g>
					<g vgraph-classifier="data" 
						classes="classTests"
						interval="'x'"
						value="classParser"></g>
				</svg>
			</div>
		</section>

		<section ng-if="multiAxis">
			<h5>Multi Axis</h5>
			<strong>two different x-y scales</strong>
			<div ng-controller="MultiAxisCtrl" class='grid-on'>
				({{highlight.point.firstModel.$interval}},{{highlight.point.firstModel.firstLine}}) : 
				({{highlight.point.secondModel.$interval}},{{highlight.point.secondModel.secondLine}})
				<svg xmlns="http://www.w3.org/2000/svg" vgraph-chart="graph" 
					model="{ firstModel:firstModel, secondModel:secondModel }" version="1.1">
					<g vgraph-axis="'left'" control="firstModel"
		                tick-length="4" tick-padding="-2"></g>
		            <g vgraph-axis="'bottom'" control="firstModel"
		                tick-length="4" tick-padding="-2" tick-rotation="-45"></g>
		            <g vgraph-axis="'right'" control="secondModel"
		                tick-length="4" tick-padding="-2"></g>
		            <g vgraph-axis="'top'" control="secondModel"
		                tick-length="4" tick-padding="-2" tick-rotation="-45"></g>
					<g vgraph-line="line" interval="'x'" control="firstModel"
						value="'y1'" name="firstLine"></g>
					<g vgraph-line="line" interval="'x2'" control="secondModel"
						value="'y2'" name="secondLine"></g>
					<g vgraph-target="highlight" point-radius="5"
						config="{firstModel:[{name:'firstLine',className:'blue'}], secondModel:[{name:'secondLine',className:'red'}]}"></g>
					<g vgraph-interact="highlight"></g>
				</svg>
			</div>

			<strong>two x, one y scale</strong>
			<div ng-controller="MultiAxis2Ctrl" class='grid-on'>
				({{highlight.point.firstModel.$interval}},{{highlight.point.firstModel.firstLine}}) : 
				({{highlight.point.secondModel.$interval}},{{highlight.point.secondModel.secondLine}})
				<svg xmlns="http://www.w3.org/2000/svg" vgraph-chart="graph" 
					model="{ firstModel:firstModel, secondModel:secondModel }" version="1.1">
					<g vgraph-axis="'left'" control="firstModel"
		                tick-length="4" tick-padding="-2"></g>
		            <g vgraph-axis="'bottom'" control="firstModel"
		                tick-length="4" tick-padding="-2" tick-rotation="-45"></g>
		            <g vgraph-axis="'right'" control="secondModel"
		                tick-length="4" tick-padding="-2"></g>
		            <g vgraph-axis="'top'" control="secondModel"
		                tick-length="4" tick-padding="-2" tick-rotation="-45"></g>
					<g vgraph-line="line" interval="'x'" control="firstModel"
						value="'y1'" name="firstLine"></g>
					<g vgraph-line="line" interval="'x2'" control="secondModel"
						value="'y2'" name="secondLine"></g>
					<g vgraph-target="highlight" point-radius="5"
						config="{firstModel:[{name:'firstLine',className:'blue'}], secondModel:[{name:'secondLine',className:'red'}]}"></g>
					<g vgraph-interact="highlight"></g>
				</svg>
			</div>
		</section>

		<section ng-if="zoom">
			<h5>Zooming</h5>
			<div ng-controller="MultiAxisCtrl" class='grid-on'>
				({{highlight.point.firstModel.$interval}},{{highlight.point.firstModel.firstLine}}) : 
				({{highlight.point.secondModel.$interval}},{{highlight.point.secondModel.secondLine}})
				<svg vgraph-chart="graph" 
					model="{ firstModel:firstModel, secondModel:secondModel }">
					<g vgraph-axis="'left'" control="firstModel"
		                tick-length="4" tick-padding="-2"></g>
		            <g vgraph-axis="'bottom'" control="firstModel"
		                tick-length="4" tick-padding="-2" tick-rotation="-45"></g>
		            <g vgraph-axis="'right'" control="secondModel"
		                tick-length="4" tick-padding="-2"></g>
		            <g vgraph-axis="'top'" control="secondModel"
		                tick-length="4" tick-padding="-2" tick-rotation="-45"></g>
					
					<g vgraph-line="line" interval="'x'" control="firstModel"
						value="'y1'" name="firstLine"></g>
					<g vgraph-line="line" interval="'x2'" control="secondModel"
						value="'y2'" name="secondLine"></g>

					<g vgraph-target="highlight" point-radius="5"
						config="{firstModel:[{name:'firstLine',className:'blue'}], secondModel:[{name:'secondLine',className:'red'}]}"></g>

					<g vgraph-focus="dragPos" lose-focus="dragStop"></g>
					<g vgraph-interact="highlight" d-begin="dragStart" d-change="dragPos" d-end="dragStop"></g>
				</svg>

				<svg class="zoom" vgraph-chart="zoom" model="graphModel">
                    <g vgraph-axis="'bottom'" control="firstModel"
                        tick-length="4" tick-padding="-2" tick-rotation="-45"></g>
                    <g vgraph-axis="'top'" control="secondModel"
		                tick-length="4" tick-padding="-2" tick-rotation="-45"></g>

		            <g vgraph-multi-line config="config"></g>

                    <g vgraph-zoom="graph" control="firstModel"></g>
                </svg>
			</div>

			<h5>Zooming - offset</h5>
			<div ng-controller="MultiZoomCtrl" class='grid-on'>
				({{highlight.point.firstModel.$interval}},{{highlight.point.firstModel.firstLine}}) : 
				({{highlight.point.secondModel.$interval}},{{highlight.point.secondModel.secondLine}})
				<svg vgraph-chart="graph" 
					model="{ firstModel:firstModel, secondModel:secondModel }">
					<g vgraph-axis="'left'" control="firstModel"
		                tick-length="4" tick-padding="-2"></g>
		            <g vgraph-axis="'bottom'" control="firstModel"
		                tick-length="4" tick-padding="-2" tick-rotation="-45"></g>
		            <g vgraph-axis="'right'" control="secondModel"
		                tick-length="4" tick-padding="-2"></g>
		            <g vgraph-axis="'top'" control="secondModel"
		                tick-length="4" tick-padding="-2" tick-rotation="-45"></g>
					
					<g vgraph-line="line" interval="'x'" control="firstModel"
						value="'y1'" name="firstLine"></g>
					<g vgraph-line="line" interval="'x2'" control="secondModel"
						value="'y2'" name="secondLine"></g>

					<g vgraph-target="highlight" point-radius="5"
						config="{firstModel:[{name:'firstLine',className:'blue'}], secondModel:[{name:'secondLine',className:'red'}]}"></g>

					<g vgraph-focus="dragPos" lose-focus="dragStop"></g>
					<g vgraph-interact="highlight" d-begin="dragStart" d-change="dragPos" d-end="dragStop"></g>
				</svg>

				<svg class="zoom" vgraph-chart="zoom" model="graphModel">
                    <g vgraph-axis="'bottom'" control="firstModel"
                        tick-length="4" tick-padding="-2" tick-rotation="-45"></g>
                    <g vgraph-axis="'top'" control="secondModel"
		                tick-length="4" tick-padding="-2" tick-rotation="-45"></g>

		            <g vgraph-multi-line config="config"></g>

                    <g vgraph-zoom="graph" control="firstModel"></g>
                </svg>
			</div>
		</section>

		<section ng-if="export">
			<h5>Export</h5>
			<div ng-controller="MultiAxisCtrl" class='grid-on'>
				({{highlight.point.firstModel.$interval}},{{highlight.point.firstModel.firstLine}}) : 
				({{highlight.point.secondModel.$interval}},{{highlight.point.secondModel.secondLine}})
				<svg vgraph-chart="graph" 
					model="{ firstModel:firstModel, secondModel:secondModel }">
					<g vgraph-axis="'left'" control="firstModel"
		                tick-length="4" tick-padding="-2"></g>
		            <g vgraph-axis="'bottom'" control="firstModel"
		                tick-length="4" tick-padding="-2" tick-rotation="-45"></g>
		            <g vgraph-axis="'right'" control="secondModel"
		                tick-length="4" tick-padding="-2"></g>
		            <g vgraph-axis="'top'" control="secondModel"
		                tick-length="4" tick-padding="-2" tick-rotation="-45"></g>
					
					<g vgraph-line="line" interval="'x'" control="firstModel"
						value="'y1'" name="firstLine"></g>
					<g vgraph-line="line" interval="'x2'" control="secondModel"
						value="'y2'" name="secondLine"></g>

					<g vgraph-target="highlight" point-radius="5"
						config="{firstModel:[{name:'firstLine',className:'blue'}], secondModel:[{name:'secondLine',className:'red'}]}"></g>

					<g vgraph-focus="dragPos" lose-focus="dragStop"></g>
					<g vgraph-interact="highlight" d-begin="dragStart" d-change="dragPos" d-end="dragStop"></g>
				</svg>
				<button ng-click="export()">Export</button>
				<a id="export" ng-show="exportData" download='sample.csv'>Download</a>
			</div>
			<b>Offset - point</b>
			<div ng-controller="ExportCtrl">
				({{highlight.closest.firstModel.$interval}},{{highlight.closest.firstModel.firstLine}}) : 
				({{highlight.closest.secondModel.$interval}},{{highlight.closest.secondModel.secondLine}})
				<br>
				{{highlight.point.$index}}
				<svg xmlns="http://www.w3.org/2000/svg" vgraph-chart="graph" 
					model="graphModel" version="1.1">
					<g vgraph-multi-line config="config"></g>

					<g vgraph-target="highlight" point-radius="5"
						config="{firstModel:[{name:'firstLine',className:'green'}], secondModel:[{name:'secondLine',className:'yellow'}]}"></g>

					<g vgraph-interact="highlight" d-begin="dragStart" d-change="dragPos" d-end="dragStop"></g>
				</svg>
				<button ng-click="export()">Export</button>
				<a id="export2" ng-show="exportData" download='sample.csv'>Download</a>
			</div>

			<b>Offset - off</b>
			<div ng-controller="ExportCtrl">
				({{highlight.closest.firstModel.$interval}},{{highlight.closest.firstModel.firstLine}}) : 
				({{highlight.closest.secondModel.$interval}},{{highlight.closest.secondModel.secondLine}})
				<br>
				{{highlight.point.$index}}
				<svg xmlns="http://www.w3.org/2000/svg" vgraph-chart="graph" 
					model="graphModel" version="1.1">
					<g vgraph-multi-line config="config"></g>

					<g vgraph-target="highlight" point-radius="5" type="closest"
						config="{firstModel:[{name:'firstLine',className:'green'}], secondModel:[{name:'secondLine',className:'yellow'}]}"></g>

					<g vgraph-interact="highlight" d-begin="dragStart" d-change="dragPos" d-end="dragStop"></g>
				</svg>
				<button ng-click="export()">Export</button>
				<a id="export2" ng-show="exportData" download='sample.csv'>Download</a>
			</div>

			<b>Offset - on</b>
			<div ng-controller="ExportCtrl">
				({{highlight.closest.firstModel.$interval}},{{highlight.closest.firstModel.firstLine}}) : 
				({{highlight.closest.secondModel.$interval}},{{highlight.closest.secondModel.secondLine}})
				<svg xmlns="http://www.w3.org/2000/svg" vgraph-chart="graph" 
					model="graphModel" version="1.1">
					<g vgraph-multi-line config="config"></g>

					<g vgraph-target="highlight" point-radius="5" type="closest"
						offset="true"
						config="{firstModel:[{name:'firstLine',className:'green'}], secondModel:[{name:'secondLine',className:'yellow'}]}"></g>

					<g vgraph-interact="highlight" d-begin="dragStart" d-change="dragPos" d-end="dragStop"></g>
				</svg>
				<button ng-click="export()">Export</button>
				<a id="export2" ng-show="exportData" download='sample.csv'>Download</a>
			</div>
		</section>
	</article>
<script>

angular.module( 'vgraph' ).controller( 'AppCtrl', [
	'$scope',
	function( $scope ){
		$scope.foo = 'bar';
	}]
);

angular.module( 'vgraph' ).controller( 'FloodCtrl',
	['$scope', '$timeout', 'GraphModel', 'LinearModel',
	function( $scope, $timeout, GraphModel, LinearModel ){
		var data = [ {x : 0, y1 : 20, y2 : 25, y3 : 30, y4 : 40}  ],
			interval,
			boxModel;

		$scope.woot = 'Hello';
		$timeout(function(){
			$scope.woot = 'World';
		},2000);

		$scope.highlight = {};
		$scope.line = data;
		$scope.graph = new GraphModel();
		$scope.model = new LinearModel({
            x : {
                scale : function(){
                    return d3.scale.linear();
                }
            },
            y : {
                padding : 0.05
            }
        });

		for( var i = 0, c = 20; i < c; i++ ){
			var counter = 0;
			var min = -1,
				max = 1,
				t = Math.random() * (max - min) + min;

			data.push({
				x : data.length,
				y1 : data[data.length-1].y1 + t,
				y2 : data[data.length-1].y2 + t,
				y3 : data[data.length-1].y3 + t,
				y4 : data[data.length-1].y4 + t
			});
		}
		
		$scope.graph.setBounds({
                min : null,
                max : null
            },{
                min : null,
                max : null
            })
            .setPane({
                start : null,
                stop : null
            },{
                start : null,
                stop : null
            });
	}]
);

angular.module( 'vgraph' ).controller( 'LoadingCtrl',
	['$scope', 'GraphModel', 'LinearModel',
	function( $scope, GraphModel, LinearModel ){
		var data = [];

		$scope.graph = new GraphModel();
		$scope.model = new LinearModel({
            x : {
                scale : function(){
                    return d3.scale.linear();
                }
            },
            y : {
                padding : 0.05
            }
        });
		$scope.line = data;
		
		$scope.graph.setBounds({
                min : null,
                max : null
            },{
                min : null,
                max : null
            })
            .setPane({
                start : null,
                stop : null
            },{
                start : null,
                stop : null
            });

        setTimeout(function(){
        	$scope.$apply(function(){
        		$scope.graph.message = 'This Go Boom - Sample';
        	});
        }, 1000);

        setTimeout(function(){
        	$scope.model.setError('--==model error==--');
        }, 2000);

        setTimeout(function(){
        	$scope.$apply(function(){
        		var data = [];

        		$scope.graph.message = null;
        		$scope.line = data;

	        	data.push({x : 0, y1 : 20, y2 : 25, y3 : 30, y4 : 40});

	        	for( var i = 0, c = 2000; i < c; i++ ){
					var counter = 0;
					var min = -1,
						max = 1,
						t = Math.random() * (max - min) + min;

					data.push({
						x : data.length,
						y1 : data[data.length-1].y1 + t,
						y2 : data[data.length-1].y2 + t,
						y3 : data[data.length-1].y3 + t,
						y4 : data[data.length-1].y4 + t
					});
				}
			});
        }, 3000);

        setTimeout(function(){
        	$scope.$apply(function(){
        		$scope.model.reset();
			});
        }, 4000);

        setTimeout(function(){
        	$scope.$apply(function(){
        		var data = [];
        		
        		$scope.graph.message = null;
        		$scope.line = data;

	        	data.push({x : 0, y1 : 20, y2 : 25, y3 : 30, y4 : 40});

	        	for( var i = 0, c = 2000; i < c; i++ ){
					var counter = 0;
					var min = -1,
						max = 1,
						t = Math.random() * (max - min) + min;

					data.push({
						x : data.length,
						y1 : data[data.length-1].y1 + t,
						y2 : data[data.length-1].y2 + t,
						y3 : data[data.length-1].y3 + t,
						y4 : data[data.length-1].y4 + t
					});
				}
			});
        }, 5000);
	}]
);

angular.module( 'vgraph' ).controller( 'ResizeCtrl', [
	'$scope', '$element', 'GraphModel', 'LinearModel',
	function( $scope, $element, GraphModel, LinearModel ){
		var data = [ { x : 0, y_line_1 : 10, y_line_2 : 5, y_line_3 : 15, y_line_4 : 8} ],
			interval,
			wide = true;

		$scope.highlight = {};
		$scope.line = data;
		$scope.graph = new GraphModel();
		$scope.model = new LinearModel({
            x : {
                scale : function(){
                    return d3.scale.linear();
                }
            },
            y : {
                padding : 0.05
            }
        });

		$scope.resize = function(){
			if ( wide ){
				$element.addClass('narrow');
				wide = false;
			} else {
				$element.removeClass('narrow');
				wide = true;
			}

			console.log( 'resizing...' );
			$scope.graph.box.resize();
		};

		$scope.config = [
			{ name : 'y_line_1', className : 'red', data : 'line' },
			{ name : 'y_line_2', className : 'blue', data : 'line' },
			{ name : 'y_line_3', className : 'green', data : 'line' },
			{ name : 'y_line_4', className : 'orange', data : 'line' }
		];

		for( var i = 0, c = 2000; i < c; i++ ){
			var counter = 0;
			var min = -1,
				max = 1,
				t = Math.random() * (max - min) + min,
				p = {
					x : data.length,
					y_line_1 : data[data.length-1].y_line_1 + t,
					y_line_2 : data[data.length-1].y_line_2 + t,
					y_line_3 : data[data.length-1].y_line_3 + t,
					y_line_4 : data[data.length-1].y_line_4 + t
				};

			data.push( p );
		}
	}]
);

angular.module( 'vgraph' ).controller( 'MultiCtrl',
	['$scope', 'GraphModel', 'LinearModel',
	function( $scope, GraphModel, LinearModel ){
		var data = [ { y1 : 10, y2 : 5, y3 : 15, y4 : 8} ],
			interval,
			boxModel;

		$scope.line = data;
		$scope.graph = new GraphModel();
		$scope.model = new LinearModel({
            x : {
                scale : function(){
                    return d3.scale.linear();
                }
            },
            y : {
                padding : 0.05
            }
        });

        // x is the interval, y is the function pulling the value
		$scope.config = [
			{ 
				name : 'y1', 
				data : 'line',
				className : 'red', 
				x : function( d ){ return d.x }, 
				y : function( d ){ return d.y1 }
			},
			{ 
				name : 'y2',
				data : 'line',
				className : 'blue',
				x : function( d ){ return d.x },
				y : function( d ){ return d.y2 }
			},
			{
				name : 'y3',
				data : 'line',
				className : 'green',
				x : function( d ){ return d.x },
				y : function( d ){ return d.y3 }
			},
			{
				name : 'y4',
				data : 'line',
				className : 'orange',
				x : function( d ){ return d.x },
				y : function( d ){ return d.y4 }
			}
		];

		for( var i = 0, c = 2000; i < c; i++ ){
			var counter = 0;
			var min = -1,
				max = 1,
				t = Math.random() * (max - min) + min,
				p = {
					x : data.length,
					y1 : data[data.length-1].y1 + t,
					y2 : data[data.length-1].y2 + t,
					y3 : data[data.length-1].y3 + t,
					y4 : data[data.length-1].y4 + t
				};

			data.push( p );
		}

		$scope.model.dataReady( $scope );
		$scope.graph.setBounds({
                min : null,
                max : null
            },{
                min : null,
                max : null
            })
            .setPane({
                start : null,
                stop : null
            },{
                start : null,
                stop : null
            });
	}]
);

angular.module( 'vgraph' ).controller( 'MixerCtrl',
	['$scope', 'GraphModel', 'LinearModel',
	function( $scope, GraphModel, LinearModel ){
		var data = [ { y1 : 15, y2 : 5, y3 : 25, y4 : 35} ],
			interval,
			boxModel;

		$scope.line = data;
		$scope.graph = new GraphModel();
		$scope.model = new LinearModel({
            x : {
                scale : function(){
                    return d3.scale.linear();
                }
            },
            y : {
                padding : 0.05
            }
        });

		$scope.formatter = function( value, data, point ){
			return point.$compare.value.difference;
		};

		$scope.getCompare = function( point ){
			return point.$compare;
		};

		$scope.getPosition = function( point ){
			return point.$compare.position.middle;
		};

        // x is the interval, y is the function pulling the value
		$scope.config = [
			{ name : 'y_1', data: data, className : 'red', value : 'y1' },
			{ name : 'y_2', data: data, className : 'blue', value : 'y2'  },
			{ name : 'y_3', data: data, className : 'green', value : 'y3'  },
			{ name : 'y_4', data: data, className : 'orange', value : 'y4'  }
		];

		for( var i = 0, c = 2000; i < c; i++ ){
			var counter = 0;
			var min = -1,
				max = 1,
				p = {
					x : data.length,
					y1 : data[data.length-1].y1 + Math.random() * (max - min) + min,
					y2 : data[data.length-1].y2 + Math.random() * (max - min) + min,
					y3 : data[data.length-1].y3 + Math.random() * (max - min) + min,
					y4 : data[data.length-1].y4 + Math.random() * (max - min) + min
				};

			data.push( p );
		}

		$scope.graph.setBounds({
                min : 0,
                max : 2500
            },{
                min : null,
                max : null
            })
            .setPane({
                start : null,
                stop : null
            },{
                start : null,
                stop : null
            });
	}]
);

angular.module( 'vgraph' ).controller( 'RawCtrl',
	['$scope', 'GraphModel', 'LinearModel',
	function( $scope, GraphModel, LinearModel ){
		var data = [ { y1 : 15, y2 : 5, y3 : 25, y4 : 35} ],
			interval,
			boxModel;

		$scope.line = data;
		$scope.graph = new GraphModel();
		$scope.model = new LinearModel({
            x : {
                scale : function(){
                    return d3.scale.linear();
                }
            },
            y : {
                padding : 0.05
            }
        });

        // x is the interval, y is the function pulling the value
		$scope.config = [
			{ name : 'y_1', data: data, className : 'red', value : 'y1' },
			{ name : 'y_2', data: data, className : 'blue', value : 'y2'  },
			{ name : 'y_3', data: data, className : 'green', value : 'y3'  },
			{ name : 'y_4', data: data, className : 'orange', value : 'y4'  }
		];

		for( var i = 0, c = 2000; i < c; i++ ){
			var counter = 0;
			var min = -1,
				max = 1,
				t = Math.random() * (max - min) + min,
				p = {
					x : data.length,
					y1 : data[data.length-1].y1 + t,
					y2 : data[data.length-1].y2 + t,
					y3 : data[data.length-1].y3 + t,
					y4 : data[data.length-1].y4 + t
				};

			data.push( p );
		}

		$scope.graph.setBounds({
                min : 0,
                max : 2500
            },{
                min : null,
                max : null
            })
            .setPane({
                start : null,
                stop : null
            },{
                start : null,
                stop : null
            });
	}]
);

angular.module( 'vgraph' ).controller( 'StackedCtrl',
	['$scope', 'GraphModel', 'LinearModel',
	function( $scope, GraphModel, LinearModel ){
		var data = [ { y1 : 10, y2 : 5, y3 : 15, y4 : 8} ],
			interval,
			boxModel;

		$scope.line = data;
		$scope.graph = new GraphModel();
		$scope.model = new LinearModel({
            x : {
                scale : function(){
                    return d3.scale.linear();
                }
            },
            y : {
                padding : 0.05
            }
        });
		$scope.config = [
			{ name : 'y1', className : 'red' },
			{ name : 'y2', className : 'blue' },
			{ name : 'y3', className : 'green' },
			{ name : 'y4', className : 'orange' }
		];

		for( var i = 0, c = 2000; i < c; i++ ){
			var counter = 0;
			var min = -1,
				max = 1,
				t = Math.random() * (max - min) + min,
				p = {
					x : data.length,
					y1 : data[data.length-1].y1 + t,
					y2 : data[data.length-1].y2 + t,
					y3 : data[data.length-1].y3 + t,
					y4 : data[data.length-1].y4 + t
				};

			data.push( p );

			$scope.model.addPoint( 'y1', p.x, p.y1 );
			$scope.model.addPoint( 'y2', p.x, p.y2 );
			$scope.model.addPoint( 'y3', p.x, p.y3 );
			$scope.model.addPoint( 'y4', p.x, p.y4 );
		}

		$scope.model.dataReady( $scope );
		$scope.graph.setBounds({
                min : null,
                max : null
            },{
                min : null,
                max : null
            })
            .setPane({
                start : null,
                stop : null
            },{
                start : null,
                stop : null
            });
	}]
);

angular.module( 'vgraph' ).controller( 'StackedMultiCtrl',
	['$scope', 'GraphModel', 'LinearModel',
	function( $scope, GraphModel, LinearModel ){
		var data = [ { y1 : 10, y2 : 5, y3 : 15, diff : 8} ],
			interval,
			boxModel;

		$scope.line = data;
		$scope.graph = new GraphModel();
		$scope.model = new LinearModel({
            x : {
                scale : function(){
                    return d3.scale.linear();
                }
            },
            y : {
                padding : 0.05
            }
        });
		$scope.config = [
			{ name : 'y1', className : 'red', data : 'line' },
			{ name : 'y2', className : 'blue', data : 'line' },
			{ name : 'y3', className : 'green', data : 'line' },
			{ name : 'y4', className : 'orange', data : 'line', value : 'diff', interval : 'xDiff' }
		];

		$scope.formatter = function( value, data ){
			return data.$bar.top;
		};

		$scope.getBar = function( data ){
			return data.default.$bar.top;
		};

		for( var i = 250, c = 2000; i < c; i++ ){
			var counter = 0;
			var min = 0,
				max = 1,
				p = {
					x : i,
					y1 : data[data.length-1].y1 + Math.random() * (max - min) + min,
					y2 : data[data.length-1].y2 + Math.random() * (max - min) + min,
					y3 : data[data.length-1].y3 + Math.random() * (max - min) + min,
					xDiff : i+500,
					diff : data[data.length-1].diff + Math.random() * (max - min) + min
				};

			data.push( p );
		}

		$scope.model.dataReady( $scope );
		$scope.graph.setBounds({
                min : 0,
                max : 3000
            },{
                min : null,
                max : null
            })
            .setPane({
                start : null,
                stop : null
            },{
                start : null,
                stop : null
            });
	}]
);

angular.module( 'vgraph' ).controller( 'SimpleStackedMultiCtrl',
	['$scope', 'GraphModel', 'LinearModel',
	function( $scope, GraphModel, LinearModel ){
		var data = [ { y1 : 10, y2 : 5, y3 : 15, diff : 8} ],
			interval,
			boxModel;

		$scope.line = data;
		$scope.graph = new GraphModel();
		$scope.model = new LinearModel({
            x : {
                scale : function(){
                    return d3.scale.linear();
                }
            },
            y : {
                padding : 0.05
            }
        });
		$scope.config = [
			{ name : 'y1', className : 'red', data : 'line' },
			{ name : 'y2', className : 'blue', data : 'line' },
			{ name : 'y3', className : 'green', data : 'line' },
			{ name : 'y4', className : 'orange', data : 'line', value : 'diff', interval : 'xDiff' }
		];

		$scope.classTests = {
			'lower' : function( data ){
				return data.$total < 300;
			},
			'higher' : function( data ){
				return data.$total > 1000;
			},
			'newer' : function( data ){
				return data.$interval > 2000;
			},
			'newest' : function( data ){
				return data.newest;
			}
		};

		$scope.classParser = function( old, newer ){
			if ( old.x > 1900 ){
				newer.newest = true;
			}
		};

		$scope.iconValue = function( data ){
			if ( data ){
				return data.$total;
			}
		};

		$scope.formatter = function( value, data ){
			return data.$bar.top;
		};

		$scope.getBar = function( data ){
			return data.default.$bar.top;
		};

		for( var i = 250, c = 2000; i < c; i++ ){
			var counter = 0;
			var min = 0,
				max = 1,
				p = {
					x : i,
					y1 : data[data.length-1].y1 + Math.random() * (max - min) + min,
					y2 : data[data.length-1].y2 + Math.random() * (max - min) + min,
					y3 : data[data.length-1].y3 + Math.random() * (max - min) + min,
					xDiff : i+500,
					diff : data[data.length-1].diff + Math.random() * (max - min) + min
				};

			data.push( p );
		}

		data[1749].high = true;
		data[data.length-1].high = true;

		$scope.data = data;
		$scope.model.dataReady( $scope );
		$scope.graph.setBounds({
                min : null,
                max : null
            },{
                min : null,
                max : null
            })
            .setPane({
                start : null,
                stop : null
            },{
                start : null,
                stop : null
            });
	}]
);

angular.module( 'vgraph' ).controller( 'StackedClassCtrl',
	['$scope', 'GraphModel', 'LinearModel',
	function( $scope, GraphModel, LinearModel ){
		var data = [ { y1 : 10, y2 : 5, y3 : 15, y4 : 8} ],
			interval,
			boxModel;

		$scope.line = data;
		$scope.graph = new GraphModel();
		$scope.model = new LinearModel({
            x : {
                scale : function(){
                    return d3.scale.linear();
                }
            },
            y : {
                padding : 0.05
            }
        });
		$scope.config = [
			{ name : 'y1', className : 'red' },
			{ name : 'y2', className : 'blue' },
			{ name : 'y3', className : 'green' },
			{ name : 'y4', className : 'orange' }
		];

		for( var i = 0, c = 2000; i < c; i++ ){
			var counter = 0;
			var min = -1,
				max = 1,
				t = Math.random() * (max - min) + min,
				p = {
					x : data.length,
					y1 : data[data.length-1].y1 + t,
					y2 : data[data.length-1].y2 + t,
					y3 : data[data.length-1].y3 + t,
					y4 : data[data.length-1].y4 + t
				};

			data.push( p );

			$scope.model.addPoint( 'y1', p.x, p.y1 );
			$scope.model.addPoint( 'y2', p.x, p.y2 );
			$scope.model.addPoint( 'y3', p.x, p.y3 );
			$scope.model.addPoint( 'y4', p.x, p.y4 );
		}

		$scope.model.dataReady( $scope );
		$scope.graph.setBounds({
                min : null,
                max : null
            },{
                min : null,
                max : null
            })
            .setPane({
                start : null,
                stop : null
            },{
                start : null,
                stop : null
            });
	}]
);

angular.module( 'vgraph' ).controller( 'SpeedCtrl',
	['$scope', 'GraphModel', 'LinearModel',
	function( $scope, GraphModel, LinearModel ){
		var data = [ {x : 0, y1 : 20, y2 : 25, y3 : 30, y4 : 40}  ],
			interval,
			boxModel;

		$scope.line = data;
		$scope.graph = new GraphModel();
		$scope.model = new LinearModel({
            x : {
                scale : function(){
                    return d3.scale.linear();
                }
            },
            y : {
                padding : 0.05
            }
        });

		var counter = 0;
		interval = setInterval(function(){
			var min = -1,
				max = 1,
				t = Math.random() * (max - min) + min;

			data.push({
				x : data.length,
				y1 : data[data.length-1].y1 + t,
				y2 : data[data.length-1].y2 + t,
				y3 : data[data.length-1].y3 + t,
				y4 : data[data.length-1].y4 + t
			});

			$scope.graph.setBounds({
                    min : null,
                    max : null
                },{
                    min : null,
                    max : null
                })
                .setPane({
                    start : null,
                    stop : null
                },{
                    start : null,
                    stop : null
                });

			$scope.$apply();
		}, 20);

		setTimeout(function(){
			clearInterval( interval );
		}, 20000 );
	}]
);

angular.module( 'vgraph' ).controller( 'GrowingCtrl',
	['$scope', 'GraphModel', 'LinearModel',
	function( $scope, GraphModel, LinearModel ){
		var data = [ {x : 0, y : 20}  ],
			interval,
			boxModel;

		$scope.line = data;
		$scope.graph = new GraphModel();
		$scope.model = new LinearModel({
            x : {
                scale : function(){
                    return d3.scale.linear();
                }
            },
            y : {
                padding : 0.05
            }
        });

		interval = setInterval(function(){
			var min = -1,
				max = 1,
				t = Math.random() * (max - min) + min;

			data.push({
				x : data.length,
				y : data[data.length-1].y + t
			});

			$scope.graph.setBounds({
                    min : null,
                    max : null
                },{
                    min : null,
                    max : null
                })
                .setPane({
                    start : null,
                    stop : null
                },{
                    start : null,
                    stop : null
                });

			$scope.$apply();
		}, 20);

		setTimeout(function(){
			clearInterval( interval );
		}, 20000 ); // 20 seconds
	}]
);

angular.module( 'vgraph' ).controller( 'StaticCtrl',
	['$scope', 'GraphModel', 'LinearModel',
	function( $scope, GraphModel, LinearModel ){
		var data = [ {x : 0, y : 20}  ],
			interval,
			boxModel;

		$scope.line = data;
		$scope.graph = new GraphModel();
		$scope.model = new LinearModel({
            x : {
                scale : function(){
                    return d3.scale.linear();
                }
            },
            y : {
                padding : 0.05
            }
        });

		interval = setInterval(function(){
			var min = -1,
				max = 1,
				t = Math.random() * (max - min) + min;

			data.push({
				x : data.length,
				y : data[data.length-1].y + t
			});

			$scope.graph.setBounds({
                    min : 0,
                    max : 1000
                },{
                    min : null,
                    max : null
                })
                .setPane({
                    start : null,
                    stop : null
                },{
                    start : null,
                    stop : null
                });

			$scope.$apply();
		}, 20);

		setTimeout(function(){
			clearInterval( interval );
		}, 20000 );
	}]
);

angular.module( 'vgraph' ).controller( 'MultiZoomCtrl',
	['$scope', 'GraphModel', 'LinearModel', 'DataCollection',
	function( $scope, GraphModel, LinearModel, DataCollection ){
		var feed1 = [ {x1 : 0, y1 : 20} ],
			feed2 = [ {x2: 150, y2 : 400} ],
			interval,
			boxModel;

		$scope.config = [
			{ 
				name : 'firstLine',
				data: feed1,
				className : 'red', 
				control: 'firstModel',
				interval: 'x1',
				value: 'y1'
			},
			{ 
				name : 'secondLine',
				data: feed2,
				className : 'blue',
				control: 'secondModel',
				interval: 'x2',
				value: 'y2'
			}
		];

		$scope.graph = new GraphModel();
		$scope.zoom = new GraphModel();
		$scope.firstModel = new LinearModel({
            x : {
                scale : function(){
                    return d3.scale.linear();
                }
            },
            y : {
                padding : 0.05
            }
        });
		$scope.secondModel = new LinearModel({
            x : {
                scale : function(){
                    return d3.scale.linear();
                }
            },
            y : {
                padding : 0.05
            }
        });
		$scope.graphModel = new DataCollection({
			'firstModel': $scope.firstModel,
			'secondModel': $scope.secondModel
		});

		var i, c,
			min = -1,
			max = 1;

		for( i = 0, c = 1000; i < c; i++ ){
			feed1.push({
				x1 : i + 1,
				y1 : feed1[i].y1 + (Math.random() * (max - min) + min)
			});

			if ( i % 5 === 0 ){
				feed2.push({
					x2 : i,
					y2 : feed2[feed2.length-1].y2 + (Math.random() * (max - min) + min)
				});
			}
		}
		
		$scope.graph.setBounds({
                min : 0,
                max : 2000
            },{
                min : null,
                max : null
            })
            .setPane({
                start : null,
                stop : null
            },{
                start : null,
                stop : null
            });

        $scope.zoom.setBounds({
                min : 0,
                max : 2000
            },{
                min : null,
                max : null
            })
            .setPane({
                start : null,
                stop : null
            },{
                start : null,
                stop : null
            });
	}]
);

angular.module( 'vgraph' ).controller( 'MultiAxisCtrl',
	['$scope', 'GraphModel', 'LinearModel', 'DataCollection',
	function( $scope, GraphModel, LinearModel, DataCollection ){
		var data = [ {x : 0, x2: 150, y1 : 20, y2 : 400}  ],
			interval,
			boxModel;

		/*
		<g vgraph-line="line" interval="'x'" control="firstModel"
			value="'y1'" name="firstLine"></g>
		<g vgraph-line="line" interval="'x2'" control="secondModel"
			value="'y2'" name="secondLine"></g>
		*/
		var textFile;

		function makeTextFile(text) {
			var data = new Blob([text], {type: 'text/csv'});

			// If we are replacing a previously generated file we need to
			// manually revoke the object URL to avoid memory leaks.
			if (textFile !== null) {
				window.URL.revokeObjectURL(textFile);
			}

			textFile = window.URL.createObjectURL(data);

			return textFile;
		}

		$scope.export = function(){
			var link = document.getElementById('export'),
				t = $scope.graph.publish([
					{
						view: 'firstModel',
						name: '$x',
						label: 'First Time',
						format: function( v ){
							return '-'+v+'-';
						}
					},
					{
						view: 'firstModel',
						name: 'firstLine',
						label: 'First Value'
					},
					{
						view: 'secondModel',
						name: '$x',
						label: 'Second Time',
						format: function( v ){
							return '-'+v+'-';
						}
					},
					{
						view: 'secondModel',
						name: 'secondLine',
						label: 'Second Value'
					}
				]);

			angular.forEach(t, function( v, k ){
				t[k] = v.join(',');
			});

			link.href = makeTextFile(t.join('\n'));
			$scope.exportData = true;
		};

		$scope.config = [
			{ 
				name : 'firstLine',
				data: data,
				className : 'red', 
				control: 'firstModel',
				interval: 'x',
				value: 'y1'
			},
			{ 
				name : 'secondLine',
				data: data,
				className : 'blue',
				control: 'secondModel',
				interval: 'x2',
				value: 'y2'
			}
		];

		$scope.line = data;
		$scope.graph = new GraphModel();
		$scope.zoom = new GraphModel();
		$scope.firstModel = new LinearModel({
            x : {
                scale : function(){
                    return d3.scale.linear();
                }
            },
            y : {
                padding : 0.05
            }
        });
		$scope.secondModel = new LinearModel({
            x : {
                scale : function(){
                    return d3.scale.linear();
                }
            },
            y : {
                padding : 0.05
            }
        });
		$scope.graphModel = new DataCollection({
			'firstModel': $scope.firstModel,
			'secondModel': $scope.secondModel
		});

		var counter = 0;
		interval = setInterval(function(){
			var min = -1,
				max = 1;

			data.push({
				x : data.length,
				x2 : data.length + 150,
				y1 : data[data.length-1].y1 + (Math.random() * (max - min) + min),
				y2 : data[data.length-1].y2 + (Math.random() * (max - min) + min)
			});

			$scope.graph.setBounds({
                    min : null,
                    max : null
                },{
                    min : null,
                    max : null
                })
                .setPane({
                    start : null,
                    stop : null
                },{
                    start : null,
                    stop : null
                });

            $scope.zoom.setBounds({
                    min : null,
                    max : null
                },{
                    min : null,
                    max : null
                })
                .setPane({
                    start : null,
                    stop : null
                },{
                    start : null,
                    stop : null
                });

			$scope.$apply();
		}, 20);

		setTimeout(function(){
			clearInterval( interval );
		}, 20000 );
	}]
);

angular.module( 'vgraph' ).controller( 'MultiAxis2Ctrl',
	['$scope', 'GraphModel', 'LinearModel', 'DataCollection',
	function( $scope, GraphModel, LinearModel, DataCollection ){
		var data = [ {x : 0, x2: 150, y1 : 20, y2 : 400}  ],
			interval,
			boxModel;

		/*
		<g vgraph-line="line" interval="'x'" control="firstModel"
			value="'y1'" name="firstLine"></g>
		<g vgraph-line="line" interval="'x2'" control="secondModel"
			value="'y2'" name="secondLine"></g>
		*/
		var textFile;

		function makeTextFile(text) {
			var data = new Blob([text], {type: 'text/csv'});

			// If we are replacing a previously generated file we need to
			// manually revoke the object URL to avoid memory leaks.
			if (textFile !== null) {
				window.URL.revokeObjectURL(textFile);
			}

			textFile = window.URL.createObjectURL(data);

			return textFile;
		}

		$scope.config = [
			{ 
				name : 'firstLine',
				data: data,
				className : 'red', 
				control: 'firstModel',
				interval: 'x',
				value: 'y1'
			},
			{ 
				name : 'secondLine',
				data: data,
				className : 'blue',
				control: 'secondModel',
				interval: 'x2',
				value: 'y2'
			}
		];

		$scope.line = data;
		$scope.graph = new GraphModel();
		$scope.zoom = new GraphModel();
		$scope.firstModel = new LinearModel({
            x : {
                scale : function(){
                    return d3.scale.linear();
                }
            },
            y : {
                padding : 0.05
            }
        });
		$scope.secondModel = new LinearModel({
            x : {
                scale : function(){
                    return d3.scale.linear();
                }
            },
            y : {
                padding : 0.05
            }
        });
		$scope.graphModel = new DataCollection({
			'firstModel': $scope.firstModel,
			'secondModel': $scope.secondModel
		});

		$scope.graph.calcHook = function(){
			var min, max;

			angular.forEach( this.views, function( view ){
                if ( min === undefined || view.pane.y.minimum < min ){
                	min = view.pane.y.minimum;
                }
                if ( max === undefined || view.pane.y.maximum > max ){
                	max = view.pane.y.maximum;
                }
            });

            angular.forEach( this.views, function( view ){
                view.pane.y.minimum = min;
                view.pane.y.maximum = max;
            });
		};

		var counter = 0;
		interval = setInterval(function(){
			var min = -1,
				max = 1;

			data.push({
				x : data.length,
				x2 : data.length + 150,
				y1 : data[data.length-1].y1 + (Math.random() * (max - min) + min),
				y2 : data[data.length-1].y2 + (Math.random() * (max - min) + min)
			});

			$scope.graph.setBounds({
                    min : null,
                    max : null
                },{
                    min : null,
                    max : null
                })
                .setPane({
                    start : null,
                    stop : null
                },{
                    start : null,
                    stop : null
                });

            $scope.zoom.setBounds({
                    min : null,
                    max : null
                },{
                    min : null,
                    max : null
                })
                .setPane({
                    start : null,
                    stop : null
                },{
                    start : null,
                    stop : null
                });

			$scope.$apply();
		}, 20);

		setTimeout(function(){
			clearInterval( interval );
		}, 20000 );
	}]
);

angular.module( 'vgraph' ).controller( 'ExportCtrl',
	['$scope', 'GraphModel', 'LinearModel', 'DataCollection',
	function( $scope, GraphModel, LinearModel, DataCollection ){
		var data = [ {x1 : 0, x2 : 1000, y1 : 20, y2 : 25}  ],
			interval,
			boxModel;

		var textFile;

		function makeTextFile(text) {
			var data = new Blob([text], {type: 'text/csv'});

			// If we are replacing a previously generated file we need to
			// manually revoke the object URL to avoid memory leaks.
			if (textFile !== null) {
				window.URL.revokeObjectURL(textFile);
			}

			textFile = window.URL.createObjectURL(data);

			return textFile;
		}

		$scope.highlight = {};
		$scope.config = [
			{ 
				name : 'firstLine',
				data: data,
				className : 'red', 
				control: 'firstModel',
				interval: 'x1',
				value: 'y1'
			},
			{ 
				name : 'secondLine',
				data: data,
				className : 'blue',
				control: 'secondModel',
				interval: 'x2',
				value: 'y2'
			}
		];

		$scope.graph = new GraphModel();
		$scope.firstModel = new LinearModel({
            x : {
                scale : function(){
                    return d3.scale.linear();
                }
            },
            y : {
                padding : 0.05
            }
        });
		$scope.secondModel = new LinearModel({
            x : {
                scale : function(){
                    return d3.scale.linear();
                }
            },
            y : {
                padding : 0.05
            }
        });
		$scope.graphModel = new DataCollection({
			'firstModel': $scope.firstModel,
			'secondModel': $scope.secondModel
		});

		for( var i = 0, c = 200; i < c; i++ ){
			var counter = 0;
			var min = -1,
				max = 1,
				t = Math.random() * (max - min) + min;

			data.push({
				x1 : data.length,
				y1 : data[data.length-1].y1 + t
			});
		}
		
		for( var i = 5, c = 200; i < c; i += 5 ){
			var counter = 0;
			var min = -1,
				max = 1,
				t = Math.random() * (max - min) + min,
				d = data[i];

			d.x2 = i + 1000;
			d.y2 = data[i-5].y2 + t;
		}

		$scope.export = function(){
			var link = document.getElementById('export2'),
				t = $scope.graph.publish([
					{
						view: 'secondModel',
						name: 'secondLine',
						label: 'Second Value'
					},
					
					{
						view: 'firstModel',
						name: 'firstLine',
						label: 'First Value'
					}
				],[
					{
						view: 'secondModel',
						name: '$x',
						label: 'Second Time',
						format: function( v ){
							return '-'+v+'-';
						}
					},
					{
						view: 'firstModel',
						name: '$x',
						label: 'First Time',
						format: function( v ){
							return '-'+v+'-';
						}
					}
				]);

			angular.forEach(t, function( v, k ){
				t[k] = v.join(',');
			});

			link.href = makeTextFile(t.join('\n'));
			$scope.exportData = true;
		};

		$scope.graph.setBounds({
                min : null,
                max : null
            },{
                min : null,
                max : null
            })
            .setPane({
                start : null,
                stop : null
            },{
                start : null,
                stop : null
            });
	}]
);
</script>

</body>

</html>
