<html>

<head>
	<!-- TODO: interval and value, not x and y -->
	<meta charset="utf-8">
	<script src="bower_components/d3/d3.js"></script>
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="vgraph.js"></script>

	<link href="vgraph.css" rel="stylesheet" type="text/css" />
</head>
<body ng-app="vgraph">

	<h1>Hello World</h1>
	<h5>Growing Graph</h5>
	<style>
		[ng-controller] {
			display : inline-block;
			width: 800;
			margin: 10px 0;
		}

		svg[vgraph-chart], [vgraph-chart] svg{
			margin: 10px 30px 30px;
			padding: 20px 40px;
			width: 740;
			height: 220;
		}

		.narrow [vgraph-chart] {
			width: 340;
			height: 90;
		}

		.grid-on .top line,
		.grid-on .right line {
			stroke: #626262;
			stroke-width: 1;
		}

		[vgraph-chart] .mat {
			fill: #ddd;
		}

		[vgraph-line] {
			stroke: black;
			stroke-width: 2;
			fill: none;
		}

		[vgraph-line] .fill {
			stroke-width: 1;
			fill: #bbb;
		}

		.red.line {
			stroke: red;
			fill: none;
		}

		.blue.line {
			stroke: blue;
			fill: none;
		}

		.green.line {
			stroke: green;
			fill: none;
		}

		.orange.line {
			stroke: orange;
			fill: none;
		}

		.red.fill, .red.point, rect.red, .red.bar, .red.box {
			stroke-width: 1;
			stroke: red;
			fill: red;
		}

		.blue.fill, .blue.point, rect.blue, .blue.bar, .blue.box {
			stroke-width: 1;
			stroke: blue;
			fill: blue;
		}

		.green.fill, .green.point, rect.green, .green.bar, .green.box {
			stroke-width: 1;
			stroke: green;
			fill: green;
		}

		.orange.fill, .orange.point, rect.orange, .orange.bar, .orange.box {
			stroke-width: 1;
			stroke: orange;
			fill: orange;
		}

		.bar .highlight-vertical {
			fill: pink;
			stroke-width: 5;
			stroke: pink;
		}

		rect.bar.active {
			opacity: .5;
		}

		rect.bar.lower {
			stroke: black;
		}

		rect.bar.higher {
			stroke: grey;
		}

		rect.bar.newer {
			stroke: yellow;
		}

		rect.bar.newest {
			fill: pink;
			stroke: pink;
		}

		[vgraph-compare] .fill {
			stroke: grey;
			fill: grey;
		}

		.line .high-value {
			stroke-dasharray: 1,1;
			opacity: .5;
		}

		.bar .high-value,
		.point .high-value {
			opacity: .5;
		}
	</style>

	<article ng-controller="AppCtrl">
		<section class="controls">
			<label>Simple<input type='checkbox' ng-checked="simple" 
				ng-click="simple = !simple"/></label>
			<label>Classify<input type='checkbox' ng-checked="classify" 
				ng-click="classify = !classify"/></label>
			<label>Nulled<input type='checkbox' ng-checked="nulled" 
				ng-click="nulled = !nulled"/></label>
			<label>Resize<input type='checkbox' ng-checked="resize" 
				ng-click="resize = !resize"/></label>
			<label>Loading<input type='checkbox' ng-checked="loading" 
				ng-click="loading = !loading"/></label>
			<label>Stacked<input type='checkbox' ng-checked="stacked" 
				ng-click="stacked = !stacked"/></label>
			<label>Growing<input type='checkbox' ng-checked="growing" 
				ng-click="growing = !growing"/></label>
			<label>Buckets<input type='checkbox' ng-checked="buckets" 
				ng-click="buckets = !buckets"/></label>
			<label>Compare<input type='checkbox' ng-checked="compare" 
				ng-click="compare = !compare"/></label>
			<label>Multiple<input type='checkbox' ng-checked="multiple" 
				ng-click="multiple = !multiple"/></label>
			<label>Interval<input type='checkbox' ng-checked="intervals" 
				ng-click="intervals = !intervals"/></label>
			<label>Leading<input type='checkbox' ng-checked="leading" 
				ng-click="leading = !leading"/></label>
			<label>Boxes<input type='checkbox' ng-checked="boxes" 
				ng-click="boxes = !boxes"/></label>
			<label>Icons<input type='checkbox' ng-checked="icons" 
				ng-click="icons = !icons"/></label>
			<label>Export<input type='checkbox' ng-checked="export" 
				ng-click="export = !export"/></label>
		</section>

		<div ng-if="simple" ng-controller="FloodCtrl">
			<h5>Simple</h5>
			<div vgraph-page="page">
				<b>vgraph-line</b>
				<section vgraph-chart="graph">
					<div vgraph-highlight="point">
						{{point.default.someLine1}} : {{point.default._$index}}
					</div>
					<svg>
						<g vgraph-axis="'left'"
							axis-label="'foo'"
							label-offset="50"
							tick-length="4" tick-padding="-2"></g>
						<g vgraph-axis="'right'"
							axis-label="'bar'"
							label-offset="40"
							tick-length="4" tick-padding="-2"></g>
						<g vgraph-axis="'bottom'"
							axis-label="woot"
							tick-length="4" tick-padding="-2" tick-rotation="-45"></g>

						<path vgraph-line="config[0]" class-name="red"></path>
						<path vgraph-line="config[1]" class-name="green"></path>
						<path vgraph-line="config[2]" class-name="blue"></path>
						<path vgraph-line="config[3]"></path>

						<g vgraph-indicator="config[2]"
							outer-radius="10"
							point-radius="5"></g>
							
						<g vgraph-target="[config[0],config[1],config[3]]" point-radius="4"></g>
						<g vgraph-tooltip="config[1]"></g>

						<g vgraph-interact></g>
					</svg>
				</section>
				
				<b>vgraph-fill</b>
				<section vgraph-chart="graph">
					<div vgraph-highlight="other">
						{{other.default.someLine1}}:{{other.default._$index}}
					</div>
					<svg>
						<g vgraph-axis="'left'"
							axis-label="'foo'"
							label-offset="50"
							tick-length="4" tick-padding="-2"></g>
						<g vgraph-axis="'right'"
							axis-label="'bar'"
							label-offset="40"
							tick-length="4" tick-padding="-2"></g>
						<g vgraph-axis="'bottom'"
							axis-label="woot"
							tick-length="4" tick-padding="-2" tick-rotation="-45"></g>
						
						<g vgraph-line="config[0]"
							pair="'-'"
							class-name="red"></g>
						<g vgraph-line="config[1]"
							class-name="green"></g>
						<g vgraph-line="config[2]"
							pair="config[3]"
							class-name="blue"></g>

						<g vgraph-indicator="config[2]"
							outer-radius="10"
							point-radius="5"></g>

						<g vgraph-target="[config[2],config[3]]" point-radius="5"></g>
						
						<g vgraph-interact></g>
					</svg>
				</section>

				<b>ng-repeat</b>
				<section vgraph-chart="graph">
					<div vgraph-highlight="point">
						{{point.default.someLine1}}:{{point.default._$index}}
					</div>
					<svg>
						<g vgraph-axis="'left'"
							axis-label="'foo'"
							label-offset="50"
							tick-length="4" tick-padding="-2"></g>
						<g vgraph-axis="'right'"
							axis-label="'bar'"
							label-offset="40"
							tick-length="4" tick-padding="-2"></g>
						<g vgraph-axis="'bottom'"
							axis-label="woot"
							tick-length="4" tick-padding="-2" tick-rotation="-45"></g>

						<path ng-repeat="cfg in config" vgraph-line="cfg"></path>

						<g vgraph-leading="config"></g>
						
						<g vgraph-target="config" point-radius="10"></g>
						<g vgraph-tooltip="config[0]"></g>

						<g vgraph-interact></g>
					</svg>
				</section>

				<b>vgraph-bar</b>
				<section vgraph-chart="graph">
					<div vgraph-highlight="point">
						{{point.default.someLine1}}:{{point.default._$index}}
					</div>
					<svg>
						<g vgraph-axis="'left'"
							axis-label="'foo'"
							label-offset="50"
							tick-length="4" tick-padding="-2"></g>
						<g vgraph-axis="'right'"
							axis-label="'bar'"
							label-offset="40"
							tick-length="4" tick-padding="-2"></g>
						<g vgraph-axis="'bottom'"
							axis-label="woot"
							tick-length="4" tick-padding="-2" tick-rotation="-45"></g>

						<path vgraph-bar="config[0]" reference="bar"></path>

						<g vgraph-target="[config[0]]" point-radius="10"></g>
						<g vgraph-tooltip="config[0]"></g>

						<g vgraph-interact></g>
					</svg>
				</section>

				<b>vgraph-dots</b>
				<section vgraph-chart="graph">
					<div vgraph-highlight="point">
						{{point.default.someLine1}}:{{point.default._$index}}
					</div>
					<svg>
						<g vgraph-axis="'left'"
							axis-label="'foo'"
							label-offset="50"
							tick-length="4" tick-padding="-2"></g>
						<g vgraph-axis="'right'"
							axis-label="'bar'"
							label-offset="40"
							tick-length="4" tick-padding="-2"></g>
						<g vgraph-axis="'bottom'"
							axis-label="woot"
							tick-length="4" tick-padding="-2" tick-rotation="-45"></g>

						<path vgraph-dots="config[0]"></path>
						<g vgraph-dots="config[1]"></g>

						<g vgraph-tooltip="config[0]"></g>

						<g vgraph-interact></g>
					</svg>
				</section>
			</div>
		</div>

		<section ng-if="loading">
			<h5>Loading</h5>
			<div ng-controller="LoadingCtrl">
				<div vgraph-page="page">
					<section vgraph-chart="graph" interface="interface">
						<span vgraph-status="chart">
							{{chart.loading ? 'loading' : 'not loading'}} : 
							{{chart.pristine ? 'pristine' : 'dirty'}} : 
							{{chart.message}} 
						</span>
						<svg>
							<g vgraph-axis="'left'"
								tick-length="4" tick-padding="-2"></g>
							<g vgraph-axis="'bottom'"
								tick-length="4" tick-padding="-2" tick-rotation="-45"></g>
							
							<path ng-repeat="cfg in config" vgraph-line="cfg"></path>
							<g ng-repeat="cfg in config" vgraph-indicator="cfg"></g>

							<g vgraph-loading></g>
							<g vgraph-message></g>
						</svg>
					</section>
				</div>
			</div>
		</section>

		<section ng-if="classify">
			<h5>Classify</h5>
			<div ng-controller="ClassifyCtrl">
				<div vgraph-page="page">
					<div vgraph-chart="graph">
						<svg xmlns="http://www.w3.org/2000/svg"  version="1.1">
							<g vgraph-axis="'left'"
								tick-length="4" tick-padding="-2"
								></g>
							<g vgraph-axis="'bottom'"
								tick-length="4" tick-padding="-2" tick-rotation="-45"
								></g>

							<g vgraph-line="config[2]"></g>

							<g vgraph-line="config[0]"></g>

							<g vgraph-dots="config[1]"></g>

							<g vgraph-bar="config[3]"></g>

							<g vgraph-loading="Loading Data"></g>
						</svg>
					</div>
				</div>
			</div>
		</section>

		<section ng-if="nulled">
			<h5>Null Data</h5>
			<div ng-controller="NullCtrl">
				<div vgraph-page="page">
					<div vgraph-chart="graph">
						<span vgraph-status="chart">
						{{chart.loading ? 'loading' : 'not loading'}} : 
						{{chart.pristine ? 'pristine' : 'dirty'}} : 
						{{chart.message}} 
						</span>
						<svg xmlns="http://www.w3.org/2000/svg"  version="1.1">
							<g vgraph-axis="'left'"
								tick-length="4" tick-padding="-2"></g>
							<g vgraph-axis="'bottom'"
								tick-length="4" tick-padding="-2" tick-rotation="-45"></g>

							<g ng-repeat="cfg in config" vgraph-line="cfg"></g>
							<g ng-repeat="cfg in config" vgraph-indicator="cfg"></g>

							<g vgraph-target="config" point-radius="5"></g>
							<g vgraph-loading="Loading Data"></g>

							<g vgraph-interact></g>
						</svg>
					</div>
				</div>
			</div>
		</section>

		<section ng-if="resize">
			<div ng-controller="ResizeCtrl">
				<div vgraph-page="page">
					<svg vgraph-chart="graph" interface="interface">
						<g vgraph-axis="'left'"
							tick-length="4" tick-padding="-2"></g>
						<g vgraph-axis="'bottom'"
							tick-length="4" tick-padding="-2" tick-rotation="-45"></g>

						<g ng-repeat="cfg in config" vgraph-line="cfg"></g>
					</svg>
					<div>
						<button ng-click="resize()">Resize</button>
					</div>
				</div>
			</div>
		</section>

		<section ng-if="stacked" ng-controller="StackedCtrl">
			<h5>Stacked</h5>
			<div vgraph-page="page">
				<div vgraph-chart="graph">
					<pre vgraph-highlight="point">
					Stacked - Lines
	{{ config[0].name }} : {{ point.default.y1 }} : {{ point.default.$stack$y1 }} : {{ config[0].className }}
	{{ config[1].name }} : {{ point.default.y2 }} : {{ point.default.$stack$y2 }} : {{ config[1].className }}
	{{ config[2].name }} : {{ point.default.y3 }} : {{ point.default.$stack$y3 }} : {{ config[2].className }}
	{{ config[3].name }} : {{ point.default.y4 }} : {{ point.default.$stack$y4 }} : {{ config[3].className }}
					</pre>
					<svg>
						<g vgraph-axis="'left'"
							tick-length="4" tick-padding="-2"></g>
						<g vgraph-axis="'bottom'"
							tick-length="4" tick-padding="-2" tick-rotation="-45"></g>

						<g vgraph-stack="config">
							<path ng-repeat="cfg in config" vgraph-line="cfg"></path>
						</g>

						<g vgraph-target="config" point-radius="3"></g>

						<g vgraph-interact></g>
					</svg>
				</div>

				<div vgraph-chart="graph">
					<pre vgraph-highlight="point">
					Stacked - Area
	{{ config[0].field }} : {{ point.default.y1 }} : {{ point.default.$stack$y1 }} : {{ config[0].className }}
	{{ config[1].field }} : {{ point.default.y2 }} : {{ point.default.$stack$y2 }} : {{ config[1].className }}
	{{ config[2].field }} : {{ point.default.y3 }} : {{ point.default.$stack$y3 }} : {{ config[2].className }}
	{{ config[3].field }} : {{ point.default.y4 }} : {{ point.default.$stack$y4 }} : {{ config[3].className }}
					</pre>
					<svg>
						<g vgraph-axis="'left'"
							tick-length="4" tick-padding="-2"></g>
						<g vgraph-axis="'bottom'"
							tick-length="4" tick-padding="-2" tick-rotation="-45"></g>

						<g vgraph-stack="config">
							<path ng-repeat="cfg in config" vgraph-line="cfg" pair="config[$index-1]"></path>
						</g>

						<g vgraph-target="config" point-radius="3"></g>

						<g vgraph-interact></g>
					</svg>
				</div>

				<div vgraph-chart="graph">
					Stacked - Bars - Paths
					<pre vgraph-highlight="point">
						{{ point.default.$stack$y1 }} : {{ point.default.y1 }}
						{{ point.default.$stack$y2 }} : {{ point.default.y2 }}
						{{ point.default.$stack$y3 }} : {{ point.default.y3 }}
						{{ point.default.$stack$y4 }} : {{ point.default.y4 }}
					</pre>
					<svg>
						<g vgraph-axis="'left'"
							tick-length="4" tick-padding="-2"></g>
						<g vgraph-axis="'bottom'"
							tick-length="4" tick-padding="-2" tick-rotation="-45"></g>

						<g vgraph-stack="config">
							<path ng-repeat="cfg in config" vgraph-bar="cfg" pair="config[$index-1]"></path>
						</g>

						<g vgraph-target="config" point-radius="3"></g>

						<g vgraph-interact></g>
					</svg>
				</div>

				<div vgraph-chart="graph">
					Stacked - Bars - Rects
					<pre vgraph-highlight="point">
						{{ point.default.$stack$y1 }} : {{ point.default.y1 }}
						{{ point.default.$stack$y2 }} : {{ point.default.y2 }}
						{{ point.default.$stack$y3 }} : {{ point.default.y3 }}
						{{ point.default.$stack$y4 }} : {{ point.default.y4 }}
					</pre>
					<svg>
						<g vgraph-axis="'left'"
							tick-length="4" tick-padding="-2"></g>
						<g vgraph-axis="'bottom'"
							tick-length="4" tick-padding="-2" tick-rotation="-45"></g>

						<g vgraph-stack="config">
							<g ng-repeat="cfg in config" vgraph-bar="cfg" pair="config[$index-1]"></g>
						</g>

						<g vgraph-target="config" point-radius="3"></g>

						<g vgraph-interact></g>
					</svg>
				</div>
			</div>
		</section>

		<section ng-if="growing">
			<h5>Dynamic Bounds</h5>
			<div ng-controller="GrowingCtrl" no-bounds="true">
				<div vgraph-page="page">
					<svg vgraph-chart="graph" model="model">
						<g vgraph-axis="'left'"
							tick-length="4" tick-padding="-2"></g>
						<g vgraph-axis="'bottom'"
							tick-length="4" tick-padding="-2" tick-rotation="-45"></g>

						<g vgraph-line="ctrl"></g>

						<g vgraph-indicator="ctrl"
							point-radius="5"></g>
					</svg>
				</div>
			</div>

			<h5>Static Bounds</h5>
			<div ng-controller="GrowingCtrl">
				<div vgraph-page="page">
					<svg vgraph-chart="graph">
						<g vgraph-axis="'left'"
							tick-length="4" tick-padding="-2"></g>
						<g vgraph-axis="'bottom'"
							tick-length="4" tick-padding="-2" tick-rotation="-45"></g>

						<g vgraph-line="ctrl"></g>

						<g vgraph-indicator="ctrl"
							outer-radius="10"
							point-radius="5"></g>
					</svg>
				</div>
			</div>
		</section>

		<section ng-if="buckets">
			<h5>Buckets</h5>
			<div ng-controller="BucketsCtrl">
				<div vgraph-page="page">
					<div vgraph-chart="graph">
						<svg>
							<g vgraph-axis="'left'" view="primary"
								tick-length="4" tick-padding="-2"></g>
							<g vgraph-axis="'bottom'" view="primary"
								tick-length="4" tick-padding="-2" tick-rotation="-45"></g>

							<path ng-repeat="cfg in config" vgraph-line="cfg"></path>

							<g vgraph-target="config" point-radius="5"></g>

							<g vgraph-interact></g>
						</svg>
					</div>

					<div vgraph-chart="graph">
						<span vgraph-highlight="point">{{point}}</span>
						<svg>
							<g vgraph-axis="'left'" view="primary"
								tick-length="4" tick-padding="-2"></g>
							<g vgraph-axis="'bottom'" view="primary"
								tick-length="4" tick-padding="-2" tick-rotation="-45"></g>

							<path vgraph-bar="config[0]" width="4"></path>

							<g vgraph-target="[config[0]]" point-radius="5"></g>

							<g vgraph-interact></g>
						</svg>
					</div>
				</div>
			</div>
		</section>

		<section ng-if="compare">
			<h5>Comparison</h5>
			<div ng-controller="CompareCtrl">
				<b>Same Intervals</b>
				<div vgraph-page="page">
					<div vgraph-chart="graph">
						<span vgraph-highlight="point">
							{{ point.compare }} | {{ getX(point) }} :: {{ getY(point) }}
						</span>
						<svg>

							<g vgraph-compare config1="config[0]" config2="config[1]" reference="compare"></g>
							<g ng-repeat="cfg in config" vgraph-line="cfg"></g>
							
							<g vgraph-target="config" point-radius="5"></g>
							<g vgraph-tooltip="config"
								reference="compare"></g>

							<g vgraph-interact="highlight"></g>
						</svg>
					<div>
				</div>
			</div>

			<div ng-controller="Compare2Ctrl">
				<b>Different Intervals</b>
				<div vgraph-page="page">
					<div vgraph-chart="graph">
						<pre vgraph-highlight="point">{{ point }}</pre>
						<svg>
							<g vgraph-compare config1="config[0]" config2="config[1]" reference="compare"></g>
							<g ng-repeat="cfg in config" vgraph-line="cfg"></g>
							
							<g vgraph-target="config" point-radius="5"></g>
							<g vgraph-tooltip="config" reference="compare"></g>

							<g vgraph-interact="highlight"></g>
						</svg>
					<div>
				</div>
			</div>
		</section>

		<section ng-if="multiple">
			<h5>Multi Axis</h5>
			<strong>two different x-y scales</strong>
			<div ng-controller="MultiAxisCtrl" class='grid-on'>
				<div vgraph-page="page">
					<div vgraph-chart="graph" name="primary">
						<span vgraph-highlight="point">
							({{point.firstView.$x}},{{point.firstView['y-1']}}) : 
							({{point.secondView.$x}},{{point.secondView['y-2']}})
						</span>
						<svg>
							<g vgraph-axis="'left'" view="firstView"
								tick-length="4" tick-padding="-2"></g>
							<g vgraph-axis="'bottom'" view="firstView"
								tick-length="4" tick-padding="-2" tick-rotation="-45"></g>
							<g vgraph-axis="'right'" view="secondView"
								tick-length="4" tick-padding="-2"></g>
							<g vgraph-axis="'top'" view="secondView"
								tick-length="4" tick-padding="-2" tick-rotation="-45"></g>

							<path ng-repeat="cfg in config" vgraph-line="cfg"></path>

							<g vgraph-target="config" point-radius="5"></g>

							<g vgraph-focus></g>
							<g vgraph-interact></g>
						</svg>
					</div>

					<div vgraph-chart="zoom">
						<svg>
							<g vgraph-axis="'top'" view="secondView"
								tick-length="4" tick-padding="-2" tick-rotation="-45"></g>
							<g vgraph-axis="'bottom'" view="firstView"
								tick-length="4" tick-padding="-2" tick-rotation="-45"></g>
							
							<path ng-repeat="cfg in config" vgraph-line="cfg"></path>

							<g vgraph-zoom="primary"></g>
						</svg>
					</div>
				</div>
			</div>
		</section>

		<section ng-if="intervals">
			<h5>Multi Interval</h5>
			<strong>two different x-y scales</strong>
			<div ng-controller="MultiIntervalCtrl" class='grid-on'>
				<div vgraph-page="page">
					<div vgraph-chart="graph" name="primary">
						<span vgraph-highlight="point">
							({{point.firstView.$x}},{{point.firstView['y-1']}}) : 
							({{point.secondView.$x}},{{point.secondView['y-2']}})
						</span>
						<svg>
							<g vgraph-axis="'left'" view="firstView"
								tick-length="4" tick-padding="-2"></g>
							<g vgraph-axis="'bottom'" view="firstView"
								tick-length="4" tick-padding="-2" tick-rotation="-45"></g>
							<g vgraph-axis="'right'" view="secondView"
								tick-length="4" tick-padding="-2"></g>
							<g vgraph-axis="'top'" view="secondView"
								tick-length="4" tick-padding="-2" tick-rotation="-45"></g>

							<path ng-repeat="cfg in config" vgraph-line="cfg"></path>

							<g vgraph-target="config" point-radius="5"></g>

							<g vgraph-interact></g>
						</svg>
					</div>
				</div>
			</div>
		</section>

		<div ng-if="leading" ng-controller="LeadingCtrl">
			<h5>Leading</h5>
			<div vgraph-page="page">
				<b>Single Interval</b>
				<section vgraph-chart="graphUnified">
					<div vgraph-highlight="point">
						{{point.default}}
					</div>
					<svg>
						<g vgraph-axis="'left'"
							axis-label="'foo'"
							label-offset="50"
							tick-length="4" tick-padding="-2"></g>
						<g vgraph-axis="'right'"
							axis-label="'bar'"
							label-offset="40"
							tick-length="4" tick-padding="-2"></g>
						<g vgraph-axis="'bottom'"
							axis-label="woot"
							tick-length="4" tick-padding="-2" tick-rotation="-45"></g>

						<path ng-repeat="cfg in configUnified" vgraph-line="cfg"></path>

						<g vgraph-leading="configUnified"></g>
						<g vgraph-target="configUnified" point-radius="5"></g>
						

						<g vgraph-interact></g>
					</svg>
				</section>
				<b>Multi Interval</b>
				<section vgraph-chart="graphIntervals">
					<div vgraph-highlight="point">
						{{point.eins}}:{{point.zwei}}:{{point.fier}}:{{point.sieben}}
					</div>
					<svg>
						<g vgraph-axis="'left'"
							axis-label="'foo'"
							label-offset="50"
							tick-length="4" tick-padding="-2"
							view="eins"></g>
						<g vgraph-axis="'right'"
							axis-label="'bar'"
							label-offset="40"
							tick-length="4" tick-padding="-2"
							view="zwei"></g>
						<g vgraph-axis="'bottom'"
							axis-label="woot"
							tick-length="4" tick-padding="-2" tick-rotation="-45"
							view="eins"></g>

						<path ng-repeat="cfg in configInterval" vgraph-line="cfg"></path>

						<g vgraph-leading="configInterval"></g>
						<g vgraph-target="configInterval" point-radius="5"></g>
						
						<g vgraph-interact></g>
					</svg>
				</section>
			</div>
		</div>
	

		<div ng-if="boxes" ng-controller="BoxCtrl">
			<h5>Boxes</h5>
			<div vgraph-page="page">
				<section vgraph-chart="graph">
					<div vgraph-highlight="point">
						{{point.default.someLine1}} : {{point.default._$index}}
					</div>
					<svg>
						<g vgraph-axis="'left'"
							axis-label="'foo'"
							label-offset="50"
							tick-length="4" tick-padding="-2"></g>
						<g vgraph-axis="'right'"
							axis-label="'bar'"
							label-offset="40"
							tick-length="4" tick-padding="-2"></g>
						<g vgraph-axis="'bottom'"
							axis-label="woot"
							tick-length="4" tick-padding="-2" tick-rotation="-45"></g>

						<path vgraph-box="config[1]"
							></path>
						<path vgraph-box="config[2]"
							></path>

						<path vgraph-line="config[0]"
							></path>
							
						<g vgraph-target="[config[0]]" 
							point-radius="4"></g>

						<g vgraph-interact></g>
					</svg>
				</section>

				<section vgraph-chart="graph">
					<div vgraph-highlight="point">
						{{point.default.someLine1}} : {{point.default._$index}}
					</div>
					<svg>
						<g vgraph-axis="'left'"
							axis-label="'foo'"
							label-offset="50"
							tick-length="4" tick-padding="-2"></g>
						<g vgraph-axis="'right'"
							axis-label="'bar'"
							label-offset="40"
							tick-length="4" tick-padding="-2"></g>
						<g vgraph-axis="'bottom'"
							axis-label="woot"
							tick-length="4" tick-padding="-2" tick-rotation="-45"></g>

						<g vgraph-box="config[1]"
							></g>
						<g vgraph-box="config[2]"
							></g>

						<path vgraph-line="config[0]"
							></path>
							
						<g vgraph-target="[config[0]]"
							point-radius="4"></g>

						<g vgraph-interact></g>
					</svg>
				</section>
			</div>
		</div>

		<div ng-if="icons" ng-controller="IconCtrl">
			<h5>Icon</h5>
			<div vgraph-page="page">
				<section vgraph-chart="graph">
					<div vgraph-highlight="point">
						{{point.default.someLine1}} : {{point.default._$index}}
					</div>
					<svg>
						<g vgraph-axis="'left'"
							axis-label="'foo'"
							label-offset="50"
							tick-length="4" tick-padding="-2"></g>
						<g vgraph-axis="'right'"
							axis-label="'bar'"
							label-offset="40"
							tick-length="4" tick-padding="-2"></g>
						<g vgraph-axis="'bottom'"
							axis-label="woot"
							tick-length="4" tick-padding="-2" tick-rotation="-45"></g>

						<path vgraph-line="config[0]"></path>

						<g vgraph-icon="config[1]">
							<circle cx="10" cy="10" r="5" stroke="black" stroke-width="3" fill="red" />
						</g>
						<g vgraph-icon="config[2]">
							<text fill="red">Hi There</text>
						</g>
							
						<g vgraph-target="[config[0]]" point-radius="4"></g>

						<g vgraph-interact></g>
					</svg>
				</section>
			</div>
		</div>

		<div ng-if="export" ng-controller="ExportCtrl">
			<h5>export</h5>
			<div vgraph-page="page">
				<section vgraph-chart="graph">
					<div vgraph-highlight="point">
						{{point.default.someLine1}} : {{point.default._$index}}
					</div>
					<svg>
						<g vgraph-axis="'left'"
							view="firstView"
							axis-label="'foo'"
							label-offset="50"
							tick-length="4" tick-padding="-2"></g>
						<g vgraph-axis="'top'"
							view="fourthView"
							axis-label="'bar'"
							label-offset="40"
							tick-length="4" tick-padding="-2"></g>
						<g vgraph-axis="'bottom'"
							view="firstView"
							axis-label="woot"
							tick-length="4" tick-padding="-2" tick-rotation="-45"></g>

						<path vgraph-line="config[0]"></path>
						<path vgraph-line="config[1]"></path>
						<path vgraph-line="config[2]"></path>
						<path vgraph-line="config[3]"></path>

						<g vgraph-target="config" point-radius="4"></g>

						<g vgraph-interact></g>
					</svg>
					<span vgraph-export="exports"></span>
				</section>
			</div>
		</div>
	</article>
	<script src="index.js"></script>

</body>

</html>
